services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    networks:
      - zakra-network
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - ./apps/backend/.env
    networks:
      - zakra-network
    ports:
      - 80:80

networks:
  zakra-network:

volumes:
  postgres-data:
